.room_types_search_form {
  display: flex;
  margin-bottom: 5vh;
  width: 100%;
}

.room_type_code_form {
  margin-right: 5vw;
  width: 7vw;
  text-align: center;
}

.room_type_name_form {
  width: 40vw;
}

.room_type_column {
  display: flex;
}

.create_button {
  margin-bottom: 2vh;
  width: 7vw;
  height: 5vh;
}

.room_type_search_btn {
  margin: 0 0 0 auto;
}

.room_type_result {
  width: 65vw;
}

.room_type_name_column {
  width: 40vw;
  border: 1px solid black;
  height: 5vh;
  line-height: 5vh;
}

.price_column {
  width: 8vw;
  border: 1px solid black;
  height: 5vh;
  line-height: 5vh;
}

.room_type_price_form {
  width: 7vw;
  text-align: center;
}

.code_column, .capacity_column {
  width: 6vw;
  border: 1px solid black;
  height: 5vh;
  line-height: 5vh;
}
