.plans_search_form {
  display: flex;
  margin-bottom: 5vh;
  width: 100%;
}

.plan_code_form {
  margin-right: 5vw;
  width: 7vw;
  text-align: center;
}

.plan_name_form {
  width: 40vw;
}

.plan_column {
  display: flex;
}

.create_button {
  margin-bottom: 2vh;
  width: 7vw;
  height: 5vh;
}

.plan_search_btn {
  margin: 0 0 0 auto;
}

.plan_result {
  width: 59vw;
}

.plan_name_column {
  width: 40vw;
  border: 1px solid black;
  height: 5vh;
  line-height: 5vh;
}

.price_column {
  width: 8vw;
  border: 1px solid black;
  height: 5vh;
  line-height: 5vh;
}

.plan_price_form {
  width: 7vw;
  text-align: center;
}
