<div class="mini_head">性別作成</div>
<div class="mini_main">
  <%= form_with(model: @sex, local: true, class:"sex_new_form") do |f| %>
    <div class="sex_create_form">
      <div class="mini_form">
        <div class="mini_title">コード</div>
        <%= f.text_field :code, class: "mini_code_form", maxlength:"1" %>
      </div>
      <div class="mini_form">
        <div class="mini_title">名前</div>
        <%= f.text_field :name, class: "mini_name_form" %>
      </div>
      <div class="mini_submit">
        <%= f.submit "作成", class: "mini_create_btn", id: "mini_create_btn" %>
      </div>
    </div>
  <% end %>
</div>
<div class="foot"></div>