.search_form {
  height: 20vh;
  border: black;
}

.code_search_form {
  display: flex;
  margin-bottom: 5vh;
  width: 100%;
}

.code_form {
  margin-right: 5vw;
  width: 7vw;
  text-align: center;
}

.search_btn {
  margin-left: 93vw;
}

.search_results {
  height: 65vh;
  border: 1px solid black;
  overflow: scroll;
}

.column {
  text-align: center;
  background-color: lightblue;
  border: 1px solid black;
  height: 5vh;
  line-height: 5vh;
}

.columns {
  border: 1px solid black;
  height: 5vh;
  line-height: 5vh;
}

.result {
  text-align: center;
  position: relative;
  display: flex;
}

.show_link {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}
