.menu_bar {
  display: flex;
  height: 10vh;
  align-items: center;
  background-color: rgb(200, 200, 200);
}

.btn {
  text-align: center;
  line-height:9vh;
  width: 9vw;
  height: 9vh;
  margin: 1px;
  display: inline-block;
  text-decoration: none;
  color: black;
  background: lightgray;
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 2px rgb(180, 180, 180);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.btn:active {
  border-right: 1px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.errors {
  background-color: lightgray;
  height: 3vh;
}
