.head {
  height: 7vh;
  width: 14vw;
  font-size: 2vh;
  font-size: 2vw;
  background-color: darkblue;
  color: white;
  text-align: center;
  line-height: 7vh;
  margin: 2vh 0 2vh 1vw;
}

.main {
  background-color: white;
  margin: 2vh 1vw;
  font-size: 1vh;
  font-size: 1vw;
}

.required {
  background-color: lightyellow;
}

.top_title {
  display: flex;
}

input {
  resize: none;
  height: 5vh;
  width: 5vw;
}

.title {
  height: 5vh;
  width: 7vw;
  border: 1px solid black;
  font-size: 1vh;
  font-size: 1vw;
  text-align: center;
  line-height: 5vh;
  background-color: lightblue;
}

.name_kana {
  width: 20vw;
  margin-left: 7vw;
}

.element {
  display: flex;
}

.gest_name_form {
  margin-left: 0;
}

.sex {
  width: 5vw;
}

.rank {
  width: 5vw;
}

.memo {
  width: 40vw;
}

.company_form {
  width: 30vw;
}

.phone_number_form {
  width: 20vw;
}

.arr_date_form {
  width: 20vw;
}

.dep_date_form {
  width: 20vw;
}

.night_form {
  width: 5vw;
}

.people {
  width: 5vw;
}

.room {
  width: 5vw;
}

.room_form {
  width: 5vw;
}

.plan_form {
  width: 5vw;
}

.plan_name {
  border: 1px solid black;
  width: 25vw;
}

.price {
  border: 1px solid black;
  width: 15vw;
}

.tag_form {
  width: 5vw;
}

.area_form {
  width: 5vw;
}

.at_title {
  margin: 0 0 0 auto;
}

.at {
  border: 1px solid black;
  width: 15vw;
  margin-right: 1vw;
}

.remark_form {
  width: 60vw;
}

.registration-btn {
  margin: 2vh 2vw 0 90vw;
  width: 7vw;
}
