.search_form {
  height: 20vh;
  border: black;
}

.search_form_head, .results_column, .result {
  display: flex;
}

.name_search {
  width: 20vw;
}

.search_btn {
  margin-top: 2vh;
  margin-left: 93vw;
}

.search_results {
  height: 65vh;
  border: 1px solid black;
  overflow: scroll;
}

.results_column {
  position: fixed;
}

.column {
  text-align: center;
  background-color: lightblue;
}

.id_column {
  width: 4vw;
  border: 1px solid black;
  height: 3vh;
  line-height: 3vh;
}

.name_column {
  width: 17vw;
  border: 1px solid black;
  height: 3vh;
  line-height: 3vh;
}

.night_column, .number_room_column, .people_column {
  width: 5vw;
  border: 1px solid black;
  height: 3vh;
  line-height: 3vh;
}

.date_column, .at_column {
  width: 15vw;
  border: 1px solid black;
  height: 3vh;
  line-height: 3vh;
}

.result {
  text-align: center;
}