.search_form {
  height: 20vh;
  border: black;
}

.search_form_head, .search_form_body, .results_column, .result {
  display: flex;
}

.name_search {
  width: 20vw;
}

.date_search {
  width: 20vw;
  margin-right: 5vw;
}

.plan_search, .room_type_search {
  width: 7vw;
  text-align: center;
}

.plan_search {
  margin-right: 5vw;
}

.search_btn {
  margin-top: 2vh;
  margin-left: 93vw;
}

.search_results {
  height: 65vh;
  border: 1px solid black;
  overflow: scroll;
}

.column {
  text-align: center;
  background-color: lightblue;
}

.id_column {
  width: 4vw;
  border: 1px solid black;
  height: 5vh;
  line-height: 5vh;
}

.name_column {
  width: 16vw;
  border: 1px solid black;
  height: 5vh;
  line-height: 5vh;
}

.night_column, .number_room_column, .people_column {
  width: 5vw;
  border: 1px solid black;
  height: 5vh;
  line-height: 5vh;
}

.date_column, .at_column {
  width: 15vw;
  border: 1px solid black;
  height: 5vh;
  line-height: 5vh;
}

.result {
  text-align: center;
}