<header>
  <div class="menu_bar">
    <div class="menu">
      <a href="#" class="btn">メニュー</a>
    </div>
    <div class="menu_new">
      <a href="#" class="btn">予約登録</a>
    </div>
    <div class="menu_search">
      <a href="#" class="btn">予約検索</a>
    </div>
  </div>
</header>
<div class="main">
</div>
<footer>
</footer>
